<fd-shellbar>
    <fd-shellbar-logo>
            <a href="#" class="corporate-icon" aria-label="SAP"></a>
    </fd-shellbar-logo>
    <fd-shellbar-title>
        <a href="#" aria-label="SAP">ZINOBE</a>
    </fd-shellbar-title>
    <fd-shellbar-actions >
        <fd-shellbar-subtitle>
            <a href="/request" class="corporate-icon" aria-label="SAP">Solicitar credito</a>
        </fd-shellbar-subtitle>
        <fd-shellbar-subtitle>
            <a href="/requests" class="corporate-icon" aria-label="SAP">Solicitudes</a>
        </fd-shellbar-subtitle>
        <fd-shellbar-subtitle>
            <a href="/inform" class="corporate-icon" aria-label="SAP">Informe Solicitudes</a>
        </fd-shellbar-subtitle>
    </fd-shellbar-actions>
</fd-shellbar>
