<fd-shellbar>
    <fd-shellbar-logo>
            <a href="#" class="corporate-icon" aria-label="SAP"></a>
    </fd-shellbar-logo>
    <fd-shellbar-title>
        Prestamos
    </fd-shellbar-title>
    <fd-shellbar-actions >
        <fd-shellbar-subtitle>
            <a href="/request" class="corporate-icon" aria-label="SAP">Solicitar credito</a>
        </fd-shellbar-subtitle>
        <fd-shellbar-subtitle>
            solicitudes
        </fd-shellbar-subtitle>
    </fd-shellbar-actions>
</fd-shellbar>
