
<fd-panel>
    <fd-panel-header>
        <fd-panel-head>
            <div fd-action-bar-header>
                <h1>ZINOBE</h1>
                <div fd-action-bar-description>
                    <h2>Solicitudes de crédito</h2>
                </div>
            </div>
        </fd-panel-head>
    </fd-panel-header>

    <fd-panel-body>
        <table fd-table>
            <thead fd-table-header>
                <tr fd-table-row>
                    <th fd-table-cell>Nombre</th>
                    <th fd-table-cell>cedula</th>
                    <th fd-table-cell>cantidad de créditos</th>
                    <th fd-table-cell></th>
                </tr>
            </thead>
            <tbody fd-table-body>
                <tr *ngFor="let user of users; let i = index" fd-table-row>
                    <td fd-table-cell>{{ user.name }}</td>
                    <td fd-table-cell>{{ user.dni }}</td>
                    <td fd-table-cell>{{ user.credits.length }}</td>
                    <td fd-table-cell><a [routerLink]="" (click)="goToDetailUser(user)">ver historial </a></td>
                </tr>
            </tbody>
        </table>
    </fd-panel-body>
</fd-panel>
